<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Project1</title>
  </head>
  <body>
    <form id="existingUser" action="{{url_for('home')}}" method="post">
      <input type="inputText" name="inputText" placeholder="Author, Title, or ISBN"><br>
      <button id="searchbutton" type = "submit">Search</button>
    </form>
    <ul>
      {% for book_title in book_list %}
        <li><a href="#">{{ book_title }}</li>
        <!-- edit "#" -->
      {% endfor %}
    </ul>
  </body>
</html>
